* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: #222;
}

.accessibility-only {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.google-navtop {
  display: flex;
  align-items: center;
  margin-top: 28px;
}

.google-logo {
  height: 30px;
  padding: 0px 28px;
}

.google-logo > img {
  height: 30px;
  width: 92px;
}

.google-search {
  margin-left: 14px;
  padding-left: 20px;
  padding-right: 10px;
  display: flex;
  flex-wrap: nowrap;
  height: 45px;
  width: 700px;
  border: 1px solid transparent;
  border-radius: 24px;
  box-shadow: 0px 2px 4px 1px rgba(60, 60, 60, 0.15);
}

.google-search:hover {
  box-shadow: 0px 2px 8px 1px rgba(60, 60, 60, 0.25);
}

.google-input {
  flex: 1;
}

.google-input > input {
  height: 100%;
  width: 100%;
  border: none;
}

.google-input > input::placeholder {
  color: black;
}

.google-cancel {
  display: flex;
  height: 40px;
  width: 40px;
}

.google-cancel > svg {
  margin: auto;
  height: 24px;
  width: 24px;
}

.google-cancel > svg > path {
  fill: gray;
}

.google-separator {
  margin: auto 6px;
  height: 75%;
  border-left: 1px solid rgb(20, 20, 20, 0.15);
}

.google-microphone {
  display: flex;
  height: 40px;
  width: 40px;
}

.google-microphone > svg {
  margin: auto;
  height: 24px;
  width: 24px;
}

.google-magnifier {
  display: flex;
  height: 40px;
  width: 40px;
}

.google-magnifier > svg {
  margin: auto;
  height: 24px;
  width: 24px;
}

.google-magnifier > svg > path {
  fill: #4284ff;
}

.google-profile {
  margin-left: auto;
  margin-right: 24px;
  display: flex;
}

.google-tool {
  margin: 0px 2px;
  display: flex;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.google-tool:hover {
  background-color: lightgray;
}

.google-tool > svg {
  margin: auto;
  height: 24px;
  width: 24px;
}

.google-tool > svg > path {
  fill: #444;
}

.google-tool > svg > circle {
  fill: #444;
}

.google-tool > img {
  margin: auto;
  height: 32px;
  width: 32px;
  border-radius: 50%;
}

.google-navbot {
  height: 60px;
  border-bottom: 1px #eee solid;
}

.google-categorize {
  margin-left: 175px;
  width: 680px;
  height: inherit;
  display: flex;
  align-items: flex-end;
}

.google-category {
  height: 40px;
  padding: 0px 8px;
  display: flex;
  align-items: center;
}

.google-minicon {
  width: 16px;
  height: 16px;
  display: inline-block;
}

.google-minicon > svg > path {
  fill: gray;
}

.google-minidea {
  display: inline-block;
}

.google-minidea > p {
  margin: 0px 4px;
  font-size: 13px;
  color: gray;
}

.google-module {
  margin-left: auto;
  height: 40px;
  padding: 0px 10px;
  display: flex;
  align-items: center;
}

.google-category-selected {
  border-bottom: 2px #1177ee solid;
}

.google-category-selected > .google-minicon > svg > path {
  fill: #1177ee;
}

.google-category-selected > .google-minidea > p {
  color: #1177ee;
}

main {
  display: none;
}

footer {
  display: none;
}
